<h1>Pages#gallery</h1>
<p>Find me in app/views/pages/gallery.html.erb</p>
<div class='measurements'>
  
  <div class="body">
  </div>

  
  <div id="header">
    <h1>Measurements page</h1>
    <p>Here you will find every measurement for your cooking needs</p>
  </div>
  
  <div id="f1_container">
   <div id="f1_card" class="shadow">
    <div class="front face">
      <p>1 Gallon</p>
     <%= image_tag "flower.jpeg" %>
    </div>
    <div class="back face center">
      <p>1 Gallon</p>
      <p>has--4 quarts, 8 pints, 16 cups, 128 ounces, 3.8 liters</p>
    </div>
   </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  
  <div id="f1_container">
   <div id="f1_card" class="shadow">
    <div class="front face">
      <p>1 Quart</p>
     <%= image_tag "gecko.jpeg" %>
    </div>
    <div class="back face center">
      <p>1 Quart</p>
      <p>has--2 pints, 4 cups, 32 ounces, .95 liters</p>
    </div>
   </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  
  <div id="f1_container">
   <div id="f1_card" class="shadow">
    <div class="front face">
      <p>1 Pint</p>
     <%= image_tag "kitty.jpeg" %>
    </div>
    <div class="back face center">
      <p>1 Pint</p>
      <p>has--2 cups, 16 ounces, 480 millilleters</p>
    </div>
   </div>
  </div>
  
  <div id="f1_container">
   <div id="f1_card" class="shadow">
    <div class="front face">
      <p>1 cup</p>
     <%= image_tag "leaf.jpeg" %>
    </div>
    <div class="back face center">
      <p>1 cup</p>
      <p>8 ounces, 240 millilleters</p>
    </div>
   </div>
  </div>
  
  <div id="f1_container">
   <div id="f1_card" class="shadow">
    <div class="front face">
      <p>1/4 cup</p>
     <%= image_tag "butterfly.jpeg" %>
    </div>
    <div class="back face center">
      <p>1/4 cup</p>
      <p>4 Tablespoons, 12 teaspoons, 2 ounces, 60 millilleters</p>
    </div>
   </div>
  </div>
  
  <div id="f1_container">
   <div id="f1_card" class="shadow">
    <div class="front face">
      <p>1 TBLspoon</p>
     <%= image_tag "butterfly.jpeg" %>
    </div>
    <div class="back face center">
      <p>1 TBLspoon</p>
      <p>3 teaspoons, 1/2 fluid ounce, 15 millilleters</p>
    </div>
   </div>
  </div>